<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title th:text="#{auction.win.title}">Hello Tailwind</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<!--Navbar-->
<nav class="relative px-4 py-4 flex justify-between items-center bg-blue-600">
  <a th:href="@{/enchere}">
    <img class="h-[60px]" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxn33FNU6y_diGg-jxsjb6JM6pT4WsHFDQBw&s" alt="">
  </a>
  <div class="lg:hidden">
    <button class="navbar-burger flex items-center text-white p-3">
      <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Mobile menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>
  <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
    <li><a th:href="@{/enchere/add}" th:text="#{itemDetail.bid}" class="text-sm text-white font-bold" >Accueil</a></li>
    <li class="text-gray-300">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
      </svg>
    </li>
    <li><a th:href="@{/my_profile}" th:text="#{header.profile}" class="text-sm text-white font-bold" >Accueil</a></li>

    <li sec:authorize="hasRole('ADMIN')" class="text-gray-300">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
      </svg>
    </li>
    <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/users}" th:text="#{admin.configUsers}" class="text-sm text-white font-bold" >Accueil</a></li>
    <li sec:authorize="hasRole('ADMIN')" class="text-gray-300">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
      </svg>
    </li>
    <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/categories}" th:text="#{admin.configCategories}" class="text-sm text-white font-bold" >Accueil</a></li>

  </ul>
  <form th:action="@{/logout}" method="post">
    <button type="submit" th:text="#{header.logout}" class="hidden lg:inline-block py-2 px-6 bg-white hover:bg-white/20 text-sm text-black font-bold rounded-xl transition duration-200" href="#">S'inscrire</button>
  </form>
</nav>
<div class="navbar-menu relative z-50 hidden">
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
  <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
    <div class="flex items-center mb-8">
      <a th:href="@{/enchere}" class="mr-auto text-3xl font-bold leading-none" href="#">
        <img class="h-[60px]" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxn33FNU6y_diGg-jxsjb6JM6pT4WsHFDQBw&s" alt="">
      </a>
      <button class="navbar-close">
        <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div>
      <ul>
        <li class="text-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg>
        </li>
        <li><a th:href="@{/enchere/add}" th:text="#{itemDetail.bid}" class="text-sm text-blue-600 font-bold" >Accueil</a></li>
        <li class="text-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg>
        </li>
        <li><a th:href="@{/my_profile}" th:text="#{header.profile}" class="text-sm text-blue-600 font-bold" >Accueil</a></li>

        <li sec:authorize="hasRole('ADMIN')" class="text-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg>
        </li>
        <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/users}" th:text="#{admin.configUsers}" class="text-sm text-blue-600 font-bold" >Accueil</a></li>
        <li sec:authorize="hasRole('ADMIN')" class="text-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg>
        </li>
        <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/categories}" th:text="#{admin.configCategories}" class="text-sm text-blue-600 font-bold" >Accueil</a></li>

      </ul>
    </div>
    <div class="mt-auto">
      <div class="pt-6">
        <form th:action="@{/logout}" method="post">
          <button type="submit" th:text="#{header.logout}" class="lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200" href="#">S'inscrire</button>
        </form>
      </div>
    </div>
  </nav>
</div>


<!--Filtre-->
<div class="container mx-auto py-4 flex flex-col gap-4 mt-6">

  <div>
    <p class="font-bold text-black text-xl" th:text="#{auction.win.congratulations} + ' ✨✨'" >Ajouter une nouvelle vente</p>
  </div>

  <!-- Carte du produit -->
  <div class="w-full">
    <div class="border border-gray-300 rounded-lg bg-white shadow p-4 flex flex-col md:flex-row gap-4">

      <!-- Image à gauche -->
      <div class="relative w-full md:w-1/3 h-52 md:h-auto rounded-lg overflow-hidden">
        <img th:src="@{${article.url}}" alt="Image"
             class="object-cover w-full h-full transition-transform duration-500 ease-in-out hover:scale-110" />
      </div>

      <!-- Contenu à droite -->
      <div class="flex flex-col justify-between w-full md:w-2/3">

        <!-- Titre & Description -->
        <div>
          <h2 th:text="${article.nom_article}" class="font-medium text-base md:text-lg text-gray-800 line-clamp-1">
            Titre
          </h2>
          <p th:text="${article.description}" class="mt-2 text-sm text-gray-800 line-clamp-1">
            Description
          </p>
        </div>

        <!-- Infos en flex -->
        <div class="flex flex-wrap gap-x-8 gap-y-4 mt-4">

          <!-- Catégorie -->
          <p class="flex items-center text-gray-800 w-full md:w-1/2">
            <svg class="mr-3 stroke-black size-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
            </svg>
            <span th:text="${article.noCategorie.libelle}" class="line-clamp-1">Catégorie</span>
          </p>

          <!-- Adresse -->
          <p class="flex items-center text-gray-800 w-full md:w-1/2">
            <svg class="mr-3 stroke-black size-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            <span th:text="#{saleDetail.withdrawalAddress(${article.noUtilisateur.rue}, ${article.noUtilisateur.codePostal}, ${article.noUtilisateur.ville})}"
                  class="line-clamp-1">Adresse</span>
          </p>

          <!-- Fin enchère -->
          <p class="flex items-center text-gray-800 w-full md:w-1/2">
            <svg class="mr-3 stroke-black size-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
            </svg>
            <span th:text="#{saleDetail.endDate}" class="mr-1">Fin de l'enchère:</span>
            <span th:text="${#temporals.format(article.fin_encheres, 'dd/MM/yyyy')}">Date</span>
          </p>

          <!-- Meilleure enchère -->
          <p th:if="${meilleureEnchere != null}" class="flex items-center text-gray-800 w-full md:w-1/2">
            <svg class="mr-3 stroke-black size-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
            </svg>
            <span th:text="#{saleDetail.bestBid} + ' ' + ${meilleureEnchere.montantEnchere} + ' ' + #{by} + ' ' + ${meilleureEnchere.noUtilisateur.pseudo}"
                  class="line-clamp-1">Meilleure enchère</span>
          </p>

        </div>

        <!-- Footer avec pseudo et prix -->
        <div class="grid grid-cols-2 mt-6">
          <div class="flex items-center">
            <svg class="size-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <a th:href="@{/user/{pseudo}(pseudo=${article.noUtilisateur.pseudo})}"
               th:text="${article.noUtilisateur.pseudo}"
               class="ml-2 text-gray-800 line-clamp-1">John Doe</a>
          </div>

          <div class="flex justify-end items-center">
          <span th:text="#{enchere.finished.price}+ ' ' + ${article.prixInitial} + ' points'"
                class="text-sm font-semibold text-primary uppercase">Prix</span>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="border border-gray-300 rounded-lg w-full py-4 px-4">
    <a th:href="@{/enchere}" th:text="#{auction.win.withdrawalDone}" class="w-full lg:inline-block text-center bg-green-600 hover:bg-green-500 py-2 px-6 text-white border border-gray-300 text-sm text-black font-bold rounded-xl transition duration-200" href="#">Retirer votre produit</a>
  </div>

</div>


<form class="fixed bottom-4 right-4 max-w-sm mx-auto">
  <select th:value="${#locale.language}" onchange="changeLanguage(this.value)" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    <option value="fr" th:selected="${#locale.language == 'fr'}" th:text="#{lang.fr}" selected>FR</option>
    <option value="en" th:selected="${#locale.language == 'en'}" th:text="#{lang.en}">UK</option>
  </select>
</form>

</body>

</html>

<script>
  // Burger menus
  document.addEventListener('DOMContentLoaded', function() {
    // open
    const burger = document.querySelectorAll('.navbar-burger');
    const menu = document.querySelectorAll('.navbar-menu');

    if (burger.length && menu.length) {
      for (var i = 0; i < burger.length; i++) {
        burger[i].addEventListener('click', function() {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle('hidden');
          }
        });
      }
    }

    // close
    const close = document.querySelectorAll('.navbar-close');
    const backdrop = document.querySelectorAll('.navbar-backdrop');

    if (close.length) {
      for (var i = 0; i < close.length; i++) {
        close[i].addEventListener('click', function() {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle('hidden');
          }
        });
      }
    }

    if (backdrop.length) {
      for (var i = 0; i < backdrop.length; i++) {
        backdrop[i].addEventListener('click', function() {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle('hidden');
          }
        });
      }
    }
  });

  function changeLanguage(language) {
    const url = new URL(window.location.href);
    url.searchParams.set('lang', language);
    window.location.href = url.toString(); // redirection GET avec le paramètre
  }
</script>