<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enchère terminée</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="header container mt-5 mb-3">
    <a th:href="@{/enchere}" class="text-decoration-none text-dark">ENI Enchères</a>
</div>

<div class="container text-center">
    <p class="fs-4 text-danger" th:if="${meilleureEnchere != null}">Vous n'avez pas remporté l'enchère</p>
    <p class="fs-4 text-warning" th:if="${meilleureEnchere == null}">Aucune offre n'a été faite pour cet article</p>

    <p class="text-muted" th:if="${meilleureEnchere != null}">
        L'article a été attribué à <strong th:text="${meilleureEnchere.noUtilisateur.pseudo}">un autre utilisateur</strong>.
    </p>
    <p class="text-muted" th:if="${meilleureEnchere == null}">
        Malheureusement, l’article n’a trouvé aucun acquéreur.
    </p>
</div>

<div class="container">
    <p th:text="${article.nom_article}">Nom de l'article</p>
    <img height="100" th:src="${article.url}" alt="Image de l'article">

    <p class="mt-3" th:if="${meilleureEnchere != null}">
        Meilleure offre : <span th:text="${meilleureEnchere.montantEnchere}">---</span> pts
    </p>
    <div th:if="${!enchereList.isEmpty()}">
        <h3>Liste des enchérisseurs</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Montant de l'enchère</th>
                <th scope="col">Date de l'enchère</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="enchere : ${enchereList}">
                <td><a th:href="@{/user/{pseudo}(pseudo=${enchere.noUtilisateur.pseudo})}" th:text="${enchere.noUtilisateur.pseudo}">Pseudo</a></td>
                <td th:text="${enchere.montantEnchere}"></td>
                <td th:text="${#temporals.format(enchere.dateEnchere, 'dd/MM/yyyy')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <p>
        Mise à prix : <span th:text="${article.prixInitial}">---</span> pts
    </p>

    <div class="form-wrapper border rounded position-relative p-4 mt-3">
        <span class="section-title px-3 bg-white position-absolute top-0 start-50 translate-middle">
            Vendu par
        </span>
        <p th:text="${article.noUtilisateur.rue}">Rue</p>
        <p th:text="${article.noUtilisateur.codePostal + ' ' + article.noUtilisateur.ville}">CP Ville</p>
        <p>Vendeur: <a th:href="@{/user/{pseudo}(pseudo=${article.noUtilisateur.pseudo})}" th:text="${article.noUtilisateur.pseudo}">Pseudo</a></p>
    </div>
</div>

<div class="container d-flex mt-3 flex-row gap-2">
    <a th:href="@{/enchere}" class="btn btn-outline-dark w-100" style="height: 70px">Retour aux enchères</a>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
