<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="">

<div id="alert-box" class="fixed top-4 right-4 px-8 py-6 bg-red-400 text-white flex justify-between items-start rounded shadow-lg z-50" th:if="${param.error}">
    <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 mr-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
        </svg>
        <p>Identifiants incorrects</p>
    </div>
    <button onclick="document.getElementById('alert-box').style.display='none'" class="text-red-100 hover:text-white ml-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
</div>

<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <div
                class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
        </div>
        <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
            <div class="max-w-md mx-auto">


                <div class="mx-auto">
                    <a href="">
                        <img class="h-[80px] mx-auto mb-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxn33FNU6y_diGg-jxsjb6JM6pT4WsHFDQBw&s" alt="">
                    </a>
        <div>
          <h1 class="text-2xl font-semibold">Connecte toi à ENI Enchère</h1>
        </div>
        <div class="divide-y divide-gray-200">
          <form th:action="@{/login}" method="post" class=w-full>
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <div class="relative">
                <input autocomplete="off" id="email" name="username" type="text" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Email address" />
                <label th:text="#{login.username}" for="email" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Adresse Email</label>
              </div>
              <div class="relative">
                <input autocomplete="off" id="password" name="password" type="password" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Password" />
                <label th:text="#{login.password}" for="password" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Mot de passe</label>
                <a th:href="@{/forgotten_password}" th:text="#{login.forgotPassword}" class="text-xs text-center mx-auto hover:text-blue-600">Mot de passe oublié</a>
              </div>

              <div class="relative">
                <div class="flex">
                  <div class="flex items-center h-5">
                    <input id="helper-radio" aria-describedby="helper-radio-text" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
                  </div>
                  <div class="ms-2 text-sm">
                    <label th:text="#{login.rememberMe}" name="remember-me" for="helper-radio" class="font-medium text-gray-900">Se souvenir de moi</label>
                  </div>
                </div>

                <div>
                    <h1 class="text-2xl font-semibold">Connecte toi à ENI Enchère</h1>
                </div>
                <div class="divide-y divide-gray-200">
                    <form th:action="@{/login}" method="post" class=w-full>
                        <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                            <div class="relative">
                                <input autocomplete="off" id="email" name="username" type="text" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Email address" />
                                <label th:text="#{login.username}" for="email" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Adresse Email</label>
                            </div>
                            <div class="relative">
                                <input autocomplete="off" id="password" name="password" type="password" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Password" />
                                <label th:text="#{login.password}" for="password" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Mot de passe</label>
                                <a th:href="@{/forgotten_password}" th:text="#{login.forgotPassword}" class="text-xs text-center mx-auto hover:text-blue-600">Mot de passe oublié</a>
                            </div>

                            <div class="relative">
                                <div class="flex">
                                    <div class="flex items-center h-5">
                                        <input id="helper-radio" aria-describedby="helper-radio-text" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    </div>
                                    <div class="ms-2 text-sm">
                                        <label th:text="#{login.rememberMe}" name="remember-me" for="helper-radio" class="font-medium text-gray-900 dark:text-gray-300">Se souvenir de moi</label>
                                    </div>
                                </div>
                            </div>

                            <div class="relative mt-2">
                                <button th:text="#{login.loginButton}" class="m-0 w-full px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700  rounded-xl">Se connecter</button>
                            </div>


                            <div class="relative text-center">
                                <a th:href="@{/register}" th:text="#{login.createAccount}" class="text-xs text-center mx-auto text-blue-600 hover:text-gray-600">Pas de compte ? S'inscrire</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="fixed bottom-4 right-4 max-w-sm mx-auto">

  <select th:value="${#locale.language}" onchange="changeLanguage(this.value)" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    <option value="fr" th:selected="${#locale.language == 'fr'}" th:text="#{lang.fr}" selected>FR</option>
    <option value="en" th:selected="${#locale.language == 'en'}" th:text="#{lang.en}">UK</option>
  </select>

</form>

</body>
</html>

<script>
    function changeLanguage(language) {
        const url = new URL(window.location.href);
        url.searchParams.set('lang', language);
        window.location.href = url.toString(); // redirection GET avec le paramètre
    }

    // Faire disparaître l'alerte après 5 secondes
    setTimeout(function() {
        document.getElementById('alert-box').style.display = 'none';
    }, 5000);
</script>
