<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{profile.edit.title}">Modification du profil</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="header container mt-5 mb-3">
    <a th:href="@{/enchere}" class="text-decoration-none text-dark" th:text="#{header.home}">ENI Enchères</a>
</div>

<div class="container text-center">
    <p class="fs-4" th:text="#{profile.edit.title}">Mon Profil</p>
</div>

<form th:action="@{/my_profile/edit}" method="post">
    <div class="container text-center mt-3">
        <div class="row">
            <div class="col d-flex align-items-center">
                <label th:text="#{profile.edit.pseudo}">Pseudo:</label>
            </div>
            <div class="col">
                <input type="text" class="form-control p-2 border-black" aria-label="pseudo" name="pseudo" th:value="${utilisateur.getPseudo()}">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col d-flex align-items-center">
                <label th:text="#{profile.edit.lastName}">Nom:</label>
            </div>
            <div class="col">
                <input type="text" class="form-control p-2 border-black" aria-label="lastname" name="nom" th:value="${utilisateur.getNom()}">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col d-flex align-items-center">
                <label th:text="#{profile.edit.firstName}">Prénom:</label>
            </div>
            <div class="col">
                <input type="text" class="form-control p-2 border-black" aria-label="name" name="prenom" th:value="${utilisateur.getPrenom()}">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col d-flex align-items-center">
                <label th:text="#{profile.edit.email}">Email:</label>
            </div>
            <div class="col">
                <input type="text" class="form-control p-2 border-black" aria-label="mail" name="email" th:value="${utilisateur.getEmail()}">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col d-flex align-items-center">
                <label th:text="#{profile.edit.phone}">Téléphone:</label>
            </div>
            <div class="col">
                <input type="text" class="form-control p-2 border-black" aria-label="phone" name="telephone" th:value="${utilisateur.getTelephone()}">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col d-flex align-items-center">
                <label th:text="#{profile.edit.street}">Rue:</label>
            </div>
            <div class="col">
                <input type="text" class="form-control p-2 border-black" aria-label="street" name="rue" th:value="${utilisateur.getRue()}">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col d-flex align-items-center">
                <label th:text="#{profile.edit.zipcode}">Code postal:</label>
            </div>
            <div class="col">
                <input type="text" class="form-control p-2 border-black" aria-label="zipcode" name="codePostal" th:value="${utilisateur.getCodePostal()}">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col d-flex align-items-center">
                <label th:text="#{profile.edit.city}">Ville:</label>
            </div>
            <div class="col">
                <input type="text" class="form-control p-2 border-black" aria-label="city" name="ville" th:value="${utilisateur.getVille()}">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col d-flex align-items-center">
                <label th:text="#{profile.edit.password}">Mot de passe:</label>
            </div>
            <div class="col">
                <input type="password" class="form-control p-2 border-black" aria-label="password" name="motDePasse">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col d-flex align-items-center">
                <label th:text="#{profile.edit.confirmPassword}">Confirmation:</label>
            </div>
            <div class="col">
                <input type="password" class="form-control p-2 border-black" aria-label="password-confirmation">
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <p th:text="#{profile.edit.credit} + ' ' + ${utilisateur.credit}">Crédit : 0</p>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col p-1">
                <button type="submit" class="btn btn-outline-dark w-100" style="height: 70px" th:text="#{profile.edit.save}">Enregistrer</button>
            </div>

            <div class="col p-1">
                <button type="button" class="btn btn-outline-dark w-100" style="height: 70px" onclick="deleteCompte()" th:text="#{profile.edit.deleteAccount}">Supprimer mon compte</button>
            </div>

            <div class="col p-1">
                <button type="button" class="btn btn-outline-dark w-100" style="height: 70px" th:text="#{profile.edit.back}">Retour</button>
            </div>
        </div>
    </div>
</form>

<!-- Bootstrap JS (optionnel) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function deleteCompte() {
        fetch("/my_profile/delete", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-Requested-With": "XMLHttpRequest"
            }
        }).then(response => {
            if (response.ok) {
                fetch("/logout", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-Requested-With": "XMLHttpRequest"
                    }
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = '/';
                        }
                    });
            }
        });
    }
</script>
</body>
</html>
